## Bank transactions dataset

### Research question & sub questions

#### How can a bank effectively segment its customers based on transactional behavior to enhance personalized marketing and improve customer satisfaction?
- What distinct transaction patterns can be identified among different customer segments in the bank's transaction dataset?
- How can customers be effectively segmented based on their transactional behaviors such as frequency, amount, and types of transactions?
- What insights can be obtained about customer preferences and behaviors from the transaction data, and how can these insights be leveraged to enhance service offerings?
- Can the transaction patterns identified be used to predict future customer behaviors or needs, and how can this predictive analysis be integrated into the bank's strategic planning?

### Dataset

- TransactionID: Unique identifier for each transaction.
- CustomerID: Unique identifier for each customer.
- CustomerDOB: Date of birth of the customer.
- CustGender: Gender of the customer.
- CustLocation: Location of the customer.
- CustAccountBalance: Account balance of the customer.
- TransactionDate: Date of the transaction.
- TransactionTime: Time of the transaction.
- TransactionAmount (INR): Amount of the transaction in Indian Rupees.

In [61]:
# Importing the basic libraries
import pandas as pd
import os
import scipy
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt 
import numpy as np
#display all columns 
from IPython.display import display
pd.set_option('display.max_columns', None)

### 1. EDA, Data cleaning and Feature engineering
There are cases when these three processes are done in tandem.

In [62]:
# Reading the DataFrame
df = pd.read_csv(r"C:\Users\alvarocairo\bank_transactions.csv")
print("There are {} rows and {} columns in the dataset".format(df.shape[0], df.shape[1]))

# Showing the Dataset
df

There are 1048567 rows and 9 columns in the dataset

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,143207,25.0
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,2/8/16,141858,27999.0
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,2/8/16,142712,459.0
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2/8/16,142714,2060.0
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,181156,1762.5
...,...,...,...,...,...,...,...,...,...
1048562,T1048563,C8020229,8/4/90,M,NEW DELHI,7635.19,18/9/16,184824,799.0
1048563,T1048564,C6459278,20/2/92,M,NASHIK,27311.42,18/9/16,183734,460.0
1048564,T1048565,C6412354,18/5/89,M,HYDERABAD,221757.06,18/9/16,183313,770.0
1048565,T1048566,C6420483,30/8/78,M,VISAKHAPATNAM,10117.87,18/9/16,184706,1000.0
1048566,T1048567,C8337524,5/3/84,M,PUNE,75734.42,18/9/16,181222,1166.0

In [63]:
# Info about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048567 entries, 0 to 1048566
Data columns (total 9 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   TransactionID            1048567 non-null  object
 1   CustomerID               1048567 non-null  object
 2   CustomerDOB              1045170 non-null  object
 3   CustGender               1047467 non-null  object
 4   CustLocation             1048416 non-null  object
 5   CustAccountBalance       1046198 non-null  float64
 6   TransactionDate          1048567 non-null  object
 7   TransactionTime          1048567 non-null  int64
 8   TransactionAmount (INR)  1048567 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 72.0+ MB

In [64]:
# Descprition off the AccountBalance & TransactionAmount columns
df[['CustAccountBalance', 'TransactionAmount (INR)']].describe()

       CustAccountBalance  TransactionAmount (INR)
count        1.046198e+06             1.048567e+06
mean         1.154035e+05             1.574335e+03
std          8.464854e+05             6.574743e+03
min          0.000000e+00             0.000000e+00
25%          4.721760e+03             1.610000e+02
50%          1.679218e+04             4.590300e+02
75%          5.765736e+04             1.200000e+03
max          1.150355e+08             1.560035e+06

In [65]:
# Display the datatypes in the DataFrame
df.dtypes

TransactionID               object
CustomerID                  object
CustomerDOB                 object
CustGender                  object
CustLocation                object
CustAccountBalance         float64
TransactionDate             object
TransactionTime              int64
TransactionAmount (INR)    float64
dtype: object

In [66]:
# Checking for null values
n_nulls = df.loc[lambda x: x.isnull().any(axis=1)].shape
print(f"There are {n_nulls[0]} rows with null values in this dataset")

null_values = df.isnull().sum()
print("Number of null values in each column:")
print(null_values)

There are 6953 rows with null values in this dataset
Number of null values in each column:
TransactionID                 0
CustomerID                    0
CustomerDOB                3397
CustGender                 1100
CustLocation                151
CustAccountBalance         2369
TransactionDate               0
TransactionTime               0
TransactionAmount (INR)       0
dtype: int64

In [67]:
# Droping rows with null values
df.dropna(how='any', inplace=True)

print(f"Number of rows after removing empty rows: {df.shape[0]}")

Number of rows after removing empty rows: 1041614

In [68]:
# Making Male and Female 0 and 1 using mapping
gender_mapping = {'M': 0, 'F': 1}

# Apply the mapping to the column
df['CustGender'] = df['CustGender'].map(gender_mapping)

# Display the column after conversion
print("Updated Gender Column:")
print(df['CustGender'])

Updated Gender Column:
0          1.0
1          0.0
2          1.0
3          1.0
4          1.0
          ...
1048562    0.0
1048563    0.0
1048564    0.0
1048565    0.0
1048566    0.0
Name: CustGender, Length: 1041614, dtype: float64

In [69]:
# Checking if the Transaction ID's are unique
if (len(df['TransactionID'].unique()) == len(df)):
    print("Transaction ID's are unique, no need to aggregate")
else:
    print("Transaction ID's are not unique, need to aggregate")

Transaction ID's are unique, no need to aggregate

In [70]:
# Dropping the column
df.drop(['TransactionID'], axis = 1, inplace=True)
df.head()

,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,C5841053,10/1/94,1.0,JAMSHEDPUR,17819.05,2/8/16,143207,25.0
1,C2142763,4/4/57,0.0,JHAJJAR,2270.69,2/8/16,141858,27999.0
2,C4417068,26/11/96,1.0,MUMBAI,17874.44,2/8/16,142712,459.0
3,C5342380,14/9/73,1.0,MUMBAI,866503.21,2/8/16,142714,2060.0
4,C9031234,24/3/88,1.0,NAVI MUMBAI,6714.43,2/8/16,181156,1762.5

In [71]:
from datetime import datetime

# Convert 'CustomerDOB' to datetime object and fix century for year
df['CustomerDOB'] = pd.to_datetime(df['CustomerDOB'], format='%d/%m/%y', errors='coerce')
df['CustomerDOB'] = df['CustomerDOB'].apply(lambda x: x if x.year < 2023 else x.replace(year=x.year-100))

# Calculate age
current_year = datetime.now().year
df['CustomerAge'] = current_year - df['CustomerDOB'].dt.year

# Dropping the original 'CustomerDOB' column
df.drop('CustomerDOB', axis=1, inplace=True)

# Displaying the first few rows of the updated dataframe
df.head()

,CustomerID,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR),CustomerAge
0,C5841053,1.0,JAMSHEDPUR,17819.05,2/8/16,143207,25.0,29.0
1,C2142763,0.0,JHAJJAR,2270.69,2/8/16,141858,27999.0,66.0
2,C4417068,1.0,MUMBAI,17874.44,2/8/16,142712,459.0,27.0
3,C5342380,1.0,MUMBAI,866503.21,2/8/16,142714,2060.0,50.0
4,C9031234,1.0,NAVI MUMBAI,6714.43,2/8/16,181156,1762.5,35.0

In [72]:
# Assuming df is your DataFrame
nans_in_customer_age = df['CustomerAge'].isna().sum()
print(f"Number of NaNs in 'CustomerAge': {nans_in_customer_age}")

Number of NaNs in 'CustomerAge': 56292

In [73]:
# Drop rows where 'CustomerAge' is NaN
df.dropna(subset=['CustomerAge'], inplace=True)

# Assuming df is your DataFrame
nans_in_customer_age = df['CustomerAge'].isna().sum()
print(f"Number of NaNs in 'CustomerAge': {nans_in_customer_age}")

df

Number of NaNs in 'CustomerAge': 0

,CustomerID,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR),CustomerAge
0,C5841053,1.0,JAMSHEDPUR,17819.05,2/8/16,143207,25.0,29.0
1,C2142763,0.0,JHAJJAR,2270.69,2/8/16,141858,27999.0,66.0
2,C4417068,1.0,MUMBAI,17874.44,2/8/16,142712,459.0,27.0
3,C5342380,1.0,MUMBAI,866503.21,2/8/16,142714,2060.0,50.0
4,C9031234,1.0,NAVI MUMBAI,6714.43,2/8/16,181156,1762.5,35.0
...,...,...,...,...,...,...,...,...
1048562,C8020229,0.0,NEW DELHI,7635.19,18/9/16,184824,799.0,33.0
1048563,C6459278,0.0,NASHIK,27311.42,18/9/16,183734,460.0,31.0
1048564,C6412354,0.0,HYDERABAD,221757.06,18/9/16,183313,770.0,34.0
1048565,C6420483,0.0,VISAKHAPATNAM,10117.87,18/9/16,184706,1000.0,45.0
1048566,C8337524,0.0,PUNE,75734.42,18/9/16,181222,1166.0,39.0

In [74]:
# Count the unique values in the 'CustLocation' column
unique_cities = df['CustLocation'].nunique()

# Print the number of different cities
print(f"There are {unique_cities} different cities in the 'CustLocation' column.")

There are 8164 different cities in the 'CustLocation' column.

In [75]:

# Count the unique values in the 'CustLocation' column
city_counts = df['CustLocation'].value_counts()

# Group cities based on their occurrences
grouped_cities = {}
for city, count in city_counts.items():
    if count not in grouped_cities:
        grouped_cities[count] = [city]
    else:
        grouped_cities[count].append(city)

# Print the grouped cities
for count, city_list in grouped_cities.items():
    print(f"Cities that occur {count} times: {', '.join(city_list)}")

Cities that occur 97679 times: MUMBAI
Cities that occur 77751 times: BANGALORE
Cities that occur 76380 times: NEW DELHI
Cities that occur 70518 times: GURGAON
Cities that occur 67335 times: DELHI
Cities that occur 31675 times: NOIDA
Cities that occur 27500 times: CHENNAI
Cities that occur 24493 times: PUNE
Cities that occur 21819 times: HYDERABAD
Cities that occur 21006 times: THANE
Cities that occur 19033 times: KOLKATA
Cities that occur 14624 times: GHAZIABAD
Cities that occur 11932 times: NAVI MUMBAI
Cities that occur 11266 times: AHMEDABAD
Cities that occur 10641 times: FARIDABAD
Cities that occur 9231 times: JAIPUR
Cities that occur 8801 times: CHANDIGARH
Cities that occur 7338 times: LUCKNOW
Cities that occur 5828 times: MOHALI
Cities that occur 5173 times: SURAT
Cities that occur 4645 times: NASHIK
Cities that occur 4354 times: LUDHIANA
Cities that occur 4173 times: VISAKHAPATNAM
Cities that occur 3961 times: DEHRADUN
Cities that occur 3620 times: INDORE
Cities that occur 3584 times: VADODARA
Cities that occur 3548 times: AMRITSAR
Cities that occur 3519 times: AGRA
Cities that occur 3326 times: KANPUR
Cities that occur 3312 times: NAGPUR
Cities that occur 3247 times: MEERUT
Cities that occur 3183 times: COIMBATORE
Cities that occur 3156 times: GREATER NOIDA
Cities that occur 3067 times: PANCHKULA
Cities that occur 2955 times: AURANGABAD
Cities that occur 2823 times: GUNTUR
Cities that occur 2807 times: GUWAHATI
Cities that occur 2749 times: RANGA REDDY
Cities that occur 2680 times: JALANDHAR
Cities that occur 2570 times: BHOPAL
Cities that occur 2533 times: PATNA
Cities that occur 2359 times: UDAIPUR
Cities that occur 2194 times: ERNAKULAM
Cities that occur 2190 times: RANCHI
Cities that occur 2161 times: REWARI
Cities that occur 2129 times: BENGALURU
Cities that occur 2042 times: HOWRAH
Cities that occur 2028 times: PATIALA
Cities that occur 1956 times: SECUNDERABAD
Cities that occur 1947 times: ALWAR
Cities that occur 1935 times: ALLAHABAD
Cities that occur 1904 times: NORTH 24 PARGANAS
Cities that occur 1876 times: SONIPAT
Cities that occur 1828 times: PANIPAT
Cities that occur 1713 times: BAMBOLIM
Cities that occur 1700 times: ZIRAKPUR
Cities that occur 1658 times: RAJKOT
Cities that occur 1632 times: RAIPUR
Cities that occur 1631 times: KOLHAPUR
Cities that occur 1574 times: SILIGURI
Cities that occur 1563 times: BAREILLY
Cities that occur 1549 times: JAMSHEDPUR
Cities that occur 1520 times: ALIGARH
Cities that occur 1487 times: KARNAL, MANGALORE
Cities that occur 1474 times: KANGRA
Cities that occur 1391 times: WARANGAL
Cities that occur 1370 times: SAHARANPUR
Cities that occur 1356 times: HOSUR
Cities that occur 1347 times: KOTTAYAM
Cities that occur 1311 times: AMBALA
Cities that occur 1301 times: KHARAR
Cities that occur 1298 times: MORADABAD
Cities that occur 1228 times: VARANASI
Cities that occur 1224 times: JAMMU
Cities that occur 1213 times: SAS NAGAR
Cities that occur 1205 times: SALEM
Cities that occur 1204 times: VAPI
Cities that occur 1188 times: SHIMLA
Cities that occur 1177 times: KOTA
Cities that occur 1167 times: BURDWAN
Cities that occur 1166 times: BHUBANESHWAR
Cities that occur 1152 times: JODHPUR
Cities that occur 1113 times: VIJAYAWADA
Cities that occur 1098 times: BHIWADI
Cities that occur 1085 times: NELLORE
Cities that occur 1082 times: BATHINDA
Cities that occur 1081 times: KOCHI
Cities that occur 1080 times: GANDHINAGAR
Cities that occur 1060 times: GORAKHPUR
Cities that occur 1054 times: RUDRAPUR
Cities that occur 1052 times: VELLORE
Cities that occur 1049 times: TRIVANDRUM
Cities that occur 1033 times: DHANBAD, BILASPUR
Cities that occur 1010 times: ROHTAK
Cities that occur 984 times: KANCHEEPURAM
Cities that occur 964 times: HOOGHLY
Cities that occur 952 times: YAMUNANAGAR
Cities that occur 943 times: THRISSUR
Cities that occur 922 times: SOUTH 24 PARGANAS
Cities that occur 913 times: GWALIOR
Cities that occur 883 times: MADURAI
Cities that occur 882 times: KARIMNAGAR
Cities that occur 880 times: DURGAPUR
Cities that occur 877 times: KAPURTHALA
Cities that occur 862 times: JHAJJAR
Cities that occur 856 times: BELGAUM
Cities that occur 854 times: TRICHY
Cities that occur 853 times: SRIPERUMBUDUR
Cities that occur 849 times: JHANSI
Cities that occur 848 times: MYSORE
Cities that occur 834 times: BHAVNAGAR
Cities that occur 833 times: MATHURA
Cities that occur 825 times: GAUTAM BUDDHA NAGAR
Cities that occur 824 times: CHITTO0R
Cities that occur 811 times: JABALPUR
Cities that occur 799 times: HARIDWAR
Cities that occur 790 times: ROURKELA
Cities that occur 777 times: GANGTOK
Cities that occur 755 times: FIROZABAD
Cities that occur 748 times: BAHADURGARH
Cities that occur 744 times: EAST GODAVARI
Cities that occur 740 times: TIRUVALLUR
Cities that occur 738 times: SOLAN
Cities that occur 728 times: THANE WEST
Cities that occur 723 times: BHIWANDI
Cities that occur 720 times: KRISHNA
Cities that occur 711 times: HOSHIARPUR
Cities that occur 693 times: SONEPAT
Cities that occur 690 times: K V RANGAREDDY
Cities that occur 689 times: KANNUR
Cities that occur 687 times: SRINAGAR
Cities that occur 677 times: KASHIPUR
Cities that occur 671 times: MEDAK
Cities that occur 650 times: JIND
Cities that occur 647 times: AJMER
Cities that occur 634 times: JALGAON
Cities that occur 633 times: KAITHAL
Cities that occur 630 times: AGARTALA, BULANDSHAHR, PALAKKAD
Cities that occur 629 times: BHILWARA
Cities that occur 626 times: HAMIRPUR
Cities that occur 624 times: AMBALA CANTT
Cities that occur 619 times: KALYAN
Cities that occur 612 times: BOISAR, BHUBANESWAR
Cities that occur 608 times: VIZIANAGARAM
Cities that occur 606 times: MUKTSAR
Cities that occur 604 times: RAIGARH
Cities that occur 603 times: MUZAFFARPUR
Cities that occur 591 times: BHILAI
Cities that occur 584 times: KOLLAM
Cities that occur 577 times: CUTTACK
Cities that occur 575 times: GURDASPUR
Cities that occur 563 times: NAINITAL
Cities that occur 553 times: UNA
Cities that occur 550 times: BHIWANI
Cities that occur 549 times: BOKARO
Cities that occur 548 times: PONDICHERRY
Cities that occur 545 times: ERODE
Cities that occur 538 times: DARJEELING
Cities that occur 537 times: BHUJ
Cities that occur 532 times: AHMEDNAGAR
Cities that occur 525 times: CHHINDWARA
Cities that occur 524 times: KOZHIKODE
Cities that occur 522 times: JAMNAGAR
Cities that occur 518 times: PATHANAMTHITTA
Cities that occur 514 times: SRIKAKULAM
Cities that occur 512 times: EAST MUMBAI, KANPUR NAGAR
Cities that occur 503 times: HUBLI
Cities that occur 495 times: WEST GODAVARI
Cities that occur 493 times: UJJAIN
Cities that occur 491 times: PALI, DUBAI
Cities that occur 488 times: RAIGAD
Cities that occur 481 times: KURNOOL
Cities that occur 480 times: UDUPI
Cities that occur 478 times: THANE W
Cities that occur 477 times: PANVEL
Cities that occur 476 times: VILLUPURAM
Cities that occur 474 times: SILCHAR
Cities that occur 472 times: NALGONDA
Cities that occur 467 times: BHARUCH
Cities that occur 466 times: ANAND
Cities that occur 454 times: FEROZEPUR
Cities that occur 451 times: KHAMMAM
Cities that occur 449 times: BIJNOR
Cities that occur 444 times: MANDI
Cities that occur 442 times: ANANTAPUR
Cities that occur 441 times: NIZAMABAD
Cities that occur 440 times: ALAPPUZHA
Cities that occur 438 times: TIRUNELVELI
Cities that occur 437 times: CUDDALORE
Cities that occur 435 times: FATEHABAD
Cities that occur 432 times: SHILLLONG
Cities that occur 430 times: PATHANKOT
Cities that occur 427 times: ADILABAD
Cities that occur 423 times: THANE (WEST)
Cities that occur 421 times: REWARI (HARYANA)
Cities that occur 415 times: RAJPURA, RUPNAGAR, NAVIMUMBAI
Cities that occur 400 times: BARIATU ROAD RANCHI RANCHI
Cities that occur 399 times: RAJAHMUNDRY
Cities that occur 398 times: TIRUPATI
Cities that occur 395 times: IMPHAL
Cities that occur 394 times: GANDHIDHAM
Cities that occur 389 times: ASANSOL
Cities that occur 387 times: BIKANER
Cities that occur 385 times: PURI, PAREL MUMBAI
Cities that occur 383 times: BARODA
Cities that occur 376 times: THIRUVANANTHAPURAM, TEZPUR
Cities that occur 375 times: MANALI
Cities that occur 374 times: TIRUPUR, GAYA
Cities that occur 372 times: PRATAPGARH
Cities that occur 371 times: ULHASNAGAR
Cities that occur 369 times: HISAR
Cities that occur 363 times: KHANNA
Cities that occur 361 times: AZAMGARH
Cities that occur 358 times: MARG LOWER PAREL MUMBAI
Cities that occur 357 times: MOGA, PANAJI
Cities that occur 356 times: MUZAFFARNAGAR
Cities that occur 354 times: PAONTA SAHIB
Cities that occur 352 times: SANGRUR
Cities that occur 341 times: THIRUVALLUR
Cities that occur 339 times: BADDI
Cities that occur 338 times: DAMAN
Cities that occur 337 times: SHAHJAHANPUR, THANJAVUR
Cities that occur 336 times: MALAPPURAM
Cities that occur 333 times: NAKODAR
Cities that occur 328 times: PRAKASAM, THANE (W)
Cities that occur 325 times: SION (E) MUMBAI
Cities that occur 322 times: VALSAD
Cities that occur 321 times: BARNALA
Cities that occur 320 times: BANGALURU
Cities that occur 316 times: SULTANPUR
Cities that occur 314 times: PALGHAR
Cities that occur 310 times: DERABASSI
Cities that occur 308 times: UDHAMPUR, BARMER
Cities that occur 307 times: KRISHNAGIRI
Cities that occur 305 times: WEST MUMBAI
Cities that occur 303 times: KALYANI NAGAR PUNE, DURG
Cities that occur 302 times: TIRUVANNAMALAI
Cities that occur 296 times: KRISHNA DISTRICT, MODI NAGAR
Cities that occur 295 times: KURUKSHETRA, VIRUDHUNAGAR, AMRAVATI
Cities that occur 292 times: PILANI
Cities that occur 289 times: KHARAGPUR
Cities that occur 286 times: ANDHERI (W) MUMBAI
Cities that occur 285 times: DEORIA
Cities that occur 280 times: ALMORA
Cities that occur 272 times: NEVILLE HOUSE MUMBAI, BHARATPUR
Cities that occur 271 times: JAUNPUR
Cities that occur 270 times: PINJORE
Cities that occur 269 times: ROPAR
Cities that occur 267 times: AIZAWL
Cities that occur 264 times: MEHSANA
Cities that occur 263 times: TIRUPPUR
Cities that occur 261 times: PASCHIM MEDINIPUR
Cities that occur 257 times: PARGANAS, RISHIKESH
Cities that occur 256 times: BAGHPAT
Cities that occur 255 times: MARGAO
Cities that occur 254 times: PRAKASAM DIST (AP), GHAZIPUR
Cities that occur 253 times: ROAD PUNE
Cities that occur 252 times: CHITTORGARH
Cities that occur 251 times: JALPAIGURI
Cities that occur 250 times: KANNIYAKUMARI
Cities that occur 247 times: PALWAL
Cities that occur 246 times: DHARAMSHALA
Cities that occur 245 times: DIMAPUR
Cities that occur 244 times: DASUYA, NEWDELHI, RATNAGIRI
Cities that occur 242 times: MAHALAXMI MUMBAI, RAJSAMAND
Cities that occur 241 times: SARAN, JORHAT
Cities that occur 239 times: BANKURA, HISSAR
Cities that occur 238 times: GANJAM
Cities that occur 237 times: LOWER PAREL MUMBAI, KANYAKUMARI, ROAD BANGALORE
Cities that occur 235 times: PUDUCHERRY, NAWANSHAHR
Cities that occur 234 times: SANGLI, GOHANA
Cities that occur 233 times: DHARUHERA
Cities that occur 231 times: DEWAS
Cities that occur 230 times: PEN, ROORKEE
Cities that occur 229 times: VAISHALI
Cities that occur 228 times: BHANDARA, FAZILKA
Cities that occur 227 times: GOPALGANJ
Cities that occur 224 times: RAMPUR, HALOL, BHOJPUR
Cities that occur 222 times: GAUTAM BUDH NAGAR, HAPUR
Cities that occur 221 times: TUMKUR
Cities that occur 218 times: JHUNJHUNU, VERNA, IDUKKI
Cities that occur 217 times: BADLAPUR
Cities that occur 216 times: GONDA, PARK PHASE 1 HINJEWADI PUNE
Cities that occur 214 times: NASIK
Cities that occur 213 times: MAHENDRAGARH
Cities that occur 212 times: PARK MAHAPE NAVI MUMBAI, NAMAKKAL
Cities that occur 210 times: NADIA, SOLAPUR, DARBHANGA
Cities that occur 209 times: BHAGALPUR, UNNAO, SHAMSHABAD
Cities that occur 208 times: ITANAGAR, NARWANA
Cities that occur 206 times: CUDDAPAH
Cities that occur 205 times: SIWAN, DHULE
Cities that occur 204 times: BAWAL
Cities that occur 203 times: BAHADURGARH (HARYANA)
Cities that occur 202 times: GOREGAON (E) MUMBAI
Cities that occur 201 times: FARIDKOT, HATHRAS
Cities that occur 200 times: BARAMATI
Cities that occur 199 times: BARABANKI
Cities that occur 198 times: FATEHGARH SAHIB
Cities that occur 197 times: DIBRUGARH
Cities that occur 195 times: BASTI, KANCHIPURAM, PONDA, BANSWARA, BALLIA
Cities that occur 192 times: KALYANI
Cities that occur 190 times: KALKA
Cities that occur 189 times: RANGAREDDI
Cities that occur 187 times: MURSHIDABAD
Cities that occur 185 times: DHURI
Cities that occur 184 times: ANDHERI E MUMBAI, SATNA, SINGAPORE, FAIZABAD
Cities that occur 183 times: DINDIGUL, DHARMAPURI, ANDHERI (E) MUMBAI
Cities that occur 182 times: VIDISHA, DOHA, BANDRA EAST MUMBAI
Cities that occur 178 times: KENDRAPARA
Cities that occur 177 times: SIRMAUR
Cities that occur 176 times: DEVANAHALLI BANGALORE, DHARWARD, BIJAPUR, HASSAN, BHINMAL
Cities that occur 175 times: PAURI GARHWAL, KHAMMAM (ANDHRA PRADESH), NAVSARI
Cities that occur 172 times: NADIAD, UDHAM SINGH NAGAR, ANDHERI W MUMBAI
Cities that occur 170 times: JUNAGADH, TEHRI GARHWAL
Cities that occur 168 times: TALUK KANCHEEPURAM DIST, SHILLONG
Cities that occur 167 times: SIVASAGAR
Cities that occur 166 times: ANDHERI EAST MUMBAI, SURYAPET, GULBARGA, BARDEZ
Cities that occur 164 times: SHAMLI
Cities that occur 163 times: G B NAGAR, KOLAR - DISTRICT, COCHIN
Cities that occur 162 times: BIRBHUM, PATHANKOT [PB], SAMASTIPUR
Cities that occur 161 times: SHARJAH, CHANDAULI
Cities that occur 160 times: PANTNAGAR, NAGAR MUMBAI
Cities that occur 159 times: DAUSA
Cities that occur 158 times: ROAD SAKET NEW DELHI, NARNAUL
Cities that occur 157 times: MANDYA, SIRSA, MUSSOORIE
Cities that occur 156 times: WHITEFIELD BANGALORE
Cities that occur 155 times: SATARA
Cities that occur 154 times: PURBO MEDINIPUR, KOLAR
Cities that occur 153 times: SOUTH DELHI
Cities that occur 152 times: HAJI ALI WORLI MUMBAI, ROHTAS, FATEHPUR, CANDOLIM BARDEZ
Cities that occur 149 times: CALANGUTE, RAMGARH
Cities that occur 148 times: AKOLA, NAGAPATTINAM, SAMBHAL, CACHAR, PORVORIM
Cities that occur 147 times: SILVASSA, SUNDARGARH, BUXAR, HOSPITAL PUNE
Cities that occur 146 times: SIYANA, KADAPA, CHITTOOR, DAVANGERE
Cities that occur 145 times: AMBALA CITY, 9A MALLESHWARAM BANGALORE, MAPUSA, ABU DHABI
Cities that occur 143 times: NEW MUMBAI, NANGAL
Cities that occur 142 times: AHMADNAGAR
Cities that occur 141 times: BUDAUN, SANAND
Cities that occur 140 times: LATUR, NO 3 KALYANI NAGAR PUNE
Cities that occur 139 times: MEDINIPUR
Cities that occur 138 times: MIRZAPUR, KUSHINAGAR, PALAMU
Cities that occur 137 times: RAJAMUNDRY
Cities that occur 136 times: RESTAURANT JAIPUR, PITHORAGARH, BELLARY
Cities that occur 135 times: PUDUKOTTAI
Cities that occur 134 times: MAINPURI, EAST SINGHBHUM, BARDHAMAN, RANGAREDDY, TOHANA
Cities that occur 133 times: NANI DAMAN, MADHUBANI
Cities that occur 132 times: CHAMBA, ANKLESHWAR
Cities that occur 131 times: TIRUCHIRAPPALLI, HANUMANGARH, CHURACHANDPUR
Cities that occur 130 times: BANGLORE, JALAUN
Cities that occur 129 times: NANDED, RAIGARH CG RAIGARH, BANGA, NALANDA
Cities that occur 128 times: YAVATMAL, RAIGARH (CHHATTISGARH)
Cities that occur 127 times: GOREGAON (W) MUMBAI, KURALI, KULLU
Cities that occur 126 times: RAMNAGAR, BAGALKOT
Cities that occur 125 times: MUNGER, HOSPITAL MUMBAI
Cities that occur 124 times: EAST DELHI, CHEMBUR MUMBAI
Cities that occur 122 times: NAGAR PUNE, KARUR, SAS NAGAR MOHALI, PURBA MEDINIPUR, JAJPUR, SINDHUDURG, HAZARIBAGH
Cities that occur 121 times: MARG KURLA W MUMBAI, MAHESANA
Cities that occur 120 times: BEGUSARAI, KOHIMA
Cities that occur 119 times: MANKUVA BHUJ, KORAMANGALA BANGALORE, MUSCAT, BANDRA E MUMBAI
Cities that occur 118 times: KHURDA-ORISSA
Cities that occur 117 times: ROAD VARTHUR HOBLI BANGALORE, ETAWAH, CARANZALEM
Cities that occur 116 times: KURLA W MUMBAI, MAU, SAHIBABAD
Cities that occur 115 times: MOOSAPET HYDERABAD, KAMRUP, GANDHI NAGAR
Cities that occur 114 times: SENAPATI, SHIMOGA, GURGOAN, REWA
Cities that occur 113 times: VARANAVASI
Cities that occur 112 times: MUKERIAN, NOKHA
Cities that occur 111 times: MARATHALLI OUTER RING RD BANGALORE, BAGESHWAR, THOUBAL, DHAR, KARWAR
Cities that occur 110 times: MUMBAI MUMBAI
Cities that occur 108 times: RAE BARELI, DEOLI, MALAD WEST MUMBAI, MORENA
Cities that occur 106 times: THANE EAST, BALASORE, THANE THANE
Cities that occur 105 times: JORHAT, ASSAM, JALNA
Cities that occur 104 times: HAORA, KORAPUT, SIKAR
Cities that occur 103 times: BARDDHAMAN, IMPHAL WEST, DIMAPUR, NAGALAND
Cities that occur 101 times: TARN TARAN, BHADRAK, TRICHUR, NAGAUR, MORINDA, BHUJ KACHCHH
Cities that occur 100 times: BEHROR, RIYADH, DUNGARPUR
Cities that occur 99 times: KURLA (W) MUMBAI, CALCUTTA, THIRUVARUR
Cities that occur 98 times: BLOCK KORAMANGALA BANGALORE, HOSPITAL BANGALORE, NILGIRIS, VASAI, NATHDWARA, BEED, CHAMOLI, BIDAR
Cities that occur 97 times: NEEMRANA, YAMUNA NAGAR
Cities that occur 96 times: BORIVALI EAST MUMBAI, RAMANATHAPURAM
Cities that occur 95 times: THANE MUMBAI, SECT-24 AND 25A GURGAON, KORAMANGALA 1ST BLOCK BANGALORE
Cities that occur 94 times: STATION BANGALORE, GAZIABAD, MEWAT, KORMANGALA BANGALORE, BANGALORE NORTH, DURG - DISTRICT, KARIM NAGAR
Cities that occur 93 times: VELLORE DT, CHURU
Cities that occur 92 times: PAREL (W) MUMBAI, SITAPUR, GARDEN CHOWK PIMPLE SAUDAGAR PUNE, DHENKANAL, NEWAI
Cities that occur 91 times: BARIATU ROAD RANCHI, LAXMINAGAR
Cities that occur 90 times: FARRUKHABAD, DELHI DELHI, AURAIYA, BULDHANA, UTTARA KANNADA, W MUMBAI, DAKSHINA KANNADA
Cities that occur 89 times: BETUL, SANTACRUZ EAST MUMBAI, MAHABUB NAGAR, MAHABUBNAGAR, HADAPSAR PUNE, BARAN, SONBHADRA, MORINDA MORINDA, THIRUVANNAMALAI
Cities that occur 88 times: RAICHUR, GORAYA, NEAR ARKERA GATE BANGALORE
Cities that occur 87 times: ARIYALUR, THENI, AMROHA, BANGALORE SOUTH
Cities that occur 86 times: VISAKHAPATNAM URBAN, THIRUVALLA, SIVAGANGA, MANDI GOBINDGARH, PERAMBALUR, ., GOA
Cities that occur 85 times: TIRUPATHI, BALLABGARH, TIRUCHIRAPALLY (TRICHY), KALYAN THANE, RAEBARELI
Cities that occur 84 times: SAMALKHA, JALORE, BALOTRA
Cities that occur 83 times: GANGANAGAR, KALYAN WEST, KATIHAR, BHIND
Cities that occur 82 times: CHIKKABALLAPUR, JAMUI, ITARSI, DHOLPUR, KODAGU
Cities that occur 81 times: DWARKA, WEST MIDNAPORE, SIRHIND
Cities that occur 80 times: KANNAUJ, MAPUSA (GOA), GAUTAMBUDH NAGAR, CHANDRAPUR, CENTER CUMBALLA HILL MUMBAI, SANT RAVIDAS NAGAR, CHAMPAWAT
Cities that occur 79 times: PILIBHIT, BARDOLI, KHURDA, SITAMARHI
Cities that occur 78 times: CHAMPARAN, DERA BASSI, SAHNEWAL
Cities that occur 77 times: MARATHALLI RING RD BANGALORE, AMBEDKAR NAGAR, THOOTHUKKUDI, PONDA NORTH, KUWAIT
Cities that occur 76 times: KASARAGOD, IMPHAL EAST, GADAG, THE NILGIRIS, VASCO
Cities that occur 75 times: NURMAHAL, POST BANGALORE, CUDDALORE DT, HOSHANGABAD, MAHARAJGANJ, NORTH GOA, 24 PGNS NORTH
Cities that occur 74 times: BARAMULLA, KATNI, MUPPALLA GUNTUR, NAMAKKAL DT, JASPUR, SABARKANTHA, VISHAKHAPATNAM
Cities that occur 73 times: MODINAGAR, ROAD ANDHERI WEST MUMBAI, KUWAIT CITY, WEST TRIPURA, THOOTHUKUDI, DHARWAD
Cities that occur 72 times: N DELHI, AMRELI, TINSUKIA, MALDA, NORTH TWENTY FOUR PARGANAS, TAPI
Cities that occur 71 times: MAHBUBNAGAR, ANANTNAG, DIST THANE, CANDOLIM, THANTIKONDA, LAKHIMPUR, SONITPUR, SIGNAL SION (E) MUMBAI, BAHRAICH, WAYANAD, SAGAR, RUWI, PURULIA, SAKINAKA MUMBAI
Cities that occur 70 times: WARDHA, CHIKKMAGALUR, SIGNAL SION E MUMBAI, MUMBAI THANE, BANUR, KHEDA, MIRA ROAD E, ETAH
Cities that occur 69 times: UKHRUL, TEMPLE CHENNAI, BANGALORE SOUTH BANGALORE, PANJIM
Cities that occur 68 times: JAGADHARI, SYDNEY, KATRA, DOMBIVALI, INDIRAPURAM, SANT KABIR NAGAR, WEST CHAMPARAN
Cities that occur 67 times: ADIPUR, SIVAGANGAI, PALAMPUR, JAGATSINGHPUR, NASIRABAD, 21A FARIDABAD, KARAULI
Cities that occur 66 times: AIROLI NAVI MUMBAI, STAGE BANGALORE, EAST SIKKIM, BENGALOORU, SEONI MALWA, KR PURAM BANGALORE, VIRAR
Cities that occur 65 times: MEDAK DIST, BALAGHAT, ARLEM, DHARMANAGAR, URAN, TAORU, ARARIA, EXCOM HOUSE MUMBAI, VASCO-DA-GAMA

In [76]:
# Count the occurrences of each city in the 'CustLocation' column
city_counts = df['CustLocation'].value_counts()

# Identify the top 5 most frequent locations
top_locations = city_counts.head(5).index.tolist()

# Create a new column 'GroupedLocation' based on the top locations and 'Others'
df['GroupedLocation'] = df['CustLocation'].apply(lambda x: x if x in top_locations else 'Others')

# Count the occurrences of each grouped location
grouped_counts = df['GroupedLocation'].value_counts()

# Print the grouped locations
for location, count in grouped_counts.items():
    print(f"Location: {location}, Count: {count}")

Location: Others, Count: 595659
Location: MUMBAI, Count: 97679
Location: BANGALORE, Count: 77751
Location: NEW DELHI, Count: 76380
Location: GURGAON, Count: 70518
Location: DELHI, Count: 67335

In [77]:
# Count the occurrences of each city
city_counts = df['CustLocation'].value_counts()

# Identify the top 5 most frequent locations
top_cities = city_counts.head(5)

# Create a DataFrame with the top cities and their counts
top_cities_table = pd.DataFrame({'City': top_cities.index, 'Count': top_cities.values})

# Add a row for 'Others' by summing counts of cities beyond the top 4
other_count = city_counts.iloc[5:].sum()
other_row = pd.DataFrame({'City': ['Others'], 'Count': [other_count]})
top_cities_table = pd.concat([top_cities_table, other_row], ignore_index=True)

# Sort the table in decreasing order by count
top_cities_table = top_cities_table.sort_values(by='Count', ascending=False)

# Reset index for a clean table
top_cities_table.reset_index(drop=True, inplace=True)

# Print the resulting table
print(top_cities_table)

        City   Count
0     Others  595659
1     MUMBAI   97679
2  BANGALORE   77751
3  NEW DELHI   76380
4    GURGAON   70518
5      DELHI   67335

In [78]:
# Define a dictionary mapping city names to numerical values
city_to_num = {
    'MUMBAI': 1,
    'BANGALORE': 2,
    'NEW DELHI': 3,
    'GURGAON': 4,
    'DELHI': 5
}

# Apply the mapping to the 'CustLocation' column, replace other values with 0
df['CustLocation'] = df['CustLocation'].map(city_to_num).fillna(0)

# Now df['CustLocation'] will have numerical values as per your requirement
df

,CustomerID,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR),CustomerAge,GroupedLocation
0,C5841053,1.0,0.0,17819.05,2/8/16,143207,25.0,29.0,Others
1,C2142763,0.0,0.0,2270.69,2/8/16,141858,27999.0,66.0,Others
2,C4417068,1.0,1.0,17874.44,2/8/16,142712,459.0,27.0,MUMBAI
3,C5342380,1.0,1.0,866503.21,2/8/16,142714,2060.0,50.0,MUMBAI
4,C9031234,1.0,0.0,6714.43,2/8/16,181156,1762.5,35.0,Others
...,...,...,...,...,...,...,...,...,...
1048562,C8020229,0.0,3.0,7635.19,18/9/16,184824,799.0,33.0,NEW DELHI
1048563,C6459278,0.0,0.0,27311.42,18/9/16,183734,460.0,31.0,Others
1048564,C6412354,0.0,0.0,221757.06,18/9/16,183313,770.0,34.0,Others
1048565,C6420483,0.0,0.0,10117.87,18/9/16,184706,1000.0,45.0,Others
1048566,C8337524,0.0,0.0,75734.42,18/9/16,181222,1166.0,39.0,Others

In [ ]:
to.csv(df)